<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Huffman</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.teibok.models.FileUpload</servlet-class>
    <multipart-config>
      <location>D:\Projects\ServerMemory\</location>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compress</display-name>
    <servlet-name>Compress</servlet-name>
    <servlet-class>com.teibok.controllers.Compress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compress</servlet-name>
    <url-pattern>/Compress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Decompress</display-name>
    <servlet-name>Decompress</servlet-name>
    <servlet-class>com.teibok.controllers.Decompress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Decompress</servlet-name>
    <url-pattern>/Decompress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadCompressedFile</display-name>
    <servlet-name>DownloadCompressedFile</servlet-name>
    <servlet-class>com.teibok.models.DownloadCompressedFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadCompressedFile</servlet-name>
    <url-pattern>/DownloadCompressedFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadDecompressedFile</display-name>
    <servlet-name>DownloadDecompressedFile</servlet-name>
    <servlet-class>com.teibok.models.DownloadDecompressedFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDecompressedFile</servlet-name>
    <url-pattern>/DownloadDecompressedFile</url-pattern>
  </servlet-mapping>
</web-app>